/* components/Layout.css */
.layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .layout {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .layout {
    padding: 0 2rem;
  }
}